@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: white;
    padding:80px 0;
    cursor:grab;
    padding:100px 0;
}
.slide-content {
    margin:0 40px;
}

.card {
    width: 320px;
    border-radius: 10px;
    background-color: #f2f3f6;
    cursor: pointer;
    transition: all 0.3s ease;
    /* margin-left: 20px; */
    cursor:grab;
}
.card:hover {
    background-color: #e0e1e4;
    cursor: grab;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px 14px
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.card-image {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.section4{
    height: 80vh;
}
.title {
    font-size: 18px;
    font-weight: 500;
    color: #0e57d7;
}

.headingsection4 {
    font-weight: 500;
    padding-top: 44px;
    font-size: 50px;
    text-align: center;
    font-family: "Inter", sans-serif;
}