/* body {
    margin-top: 53%;
    background-image: url("F:/TRANSKOM/rsrc/Transkom-Background.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 693px;
    margin-left: 6.7%;
} */
.top-nav {
    background-color: #0e57d7;
    height: 38px;
    font-family: 'ATC Arquette';
    /* font-weight: 550;     */
    text-align: center;
    color: white;
    font-size:medium;
}

.navbar {
    margin-left: 6.7%;

}